*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    body{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background: gray;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    
    #header-section{
      border: black solid 5px;
      padding: 10px;
      margin: 10px;
      background-color: rgb(202, 202, 202);
    }
    
    #main-header{
      margin: 20px;
      text-align: center;
      padding: 10px;
      margin: 10px;
      background-color: rgb(128, 99, 99);
    }
    
    #nav-section{
      border: white solid 5px;
      font-size: 2rem;
      text-align: center;
      padding: 10px;
      margin: 10px;
      background-color: rgb(172, 196, 134);
    }
    
    #aside-section{
      border: darkblue solid 5px;
      font-size: 2rem;
      text-align: center;
      padding: 10px;
      margin: 10px;
      background-color: rgb(173, 150, 201);
    }
    
    #main-section{
      border: darkgreen solid 5px;
      font-size: 2rem;
      text-align: center;
      padding: 10px;
      margin: 10px;
      background-color: rgb(152, 156, 142);
    }
    
    #article-section{
      border: darkred solid 5px;
      font-size: 2rem;
      text-align: center;
      padding: 10px;
      margin: 10px;
      background-color: rgb(84, 128, 136);
    }
    
    #footer-section{
      border: rgb(94, 24, 173) solid 5px;
      font-size: 2rem;
      text-align: center;
      padding: 10px;
      margin: 10px;
      background-color: rgb(182, 137, 165);
    }